<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .border{
            color:pink ;
            background-color: black;
            height: 300px;
            width: 500px;
            text-align: center;
            padding: 50px;
        }
        .margin{
            margin-top: 20px;
        }
        .decor{
            height:30px;
            width: 155px;
            color: pink;
            background-color: gray;
            border-radius: 10px;
        }
    </style>
</head>
<body>
 <div class="border">
    <h1>welcome to the Flipkart login page</h1>
    <form action="" method="post">
        <label for="" class="margin"   >Username</label>
        <br>
        <input type="text" name="" id="" name="Username"  >
        <br>
        <label for="" class="margin">Password</label>
        <br>
        <input type="text" name="" id="" name="Password"    >
        <br>
        <button class="margin decor" >login</button>
 </div>
    </form>


</body>
</html>